.container{
	background: url('https://eskipaper.com/images/pokemon-backgrounds-9.jpg');
	background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 930px;
	padding-top: 50px;
}

.name{
	font-size: 70px;
	letter-spacing: -2px;
	color: #fff;
	text-shadow: 0 0 5px #D6552E, 0 0 10px #D6552E,
	  0 0 20px #D6552E, 0 0 60px #5a3023,
	  0 0 100px #5a3023, 0 0 160px #5a3023;
}

h3{
	font-size: 20px;
	letter-spacing: -2px;
	color: #fff;
	text-shadow: 0 0 5px #D6552E, 0 0 10px #D6552E,
	  0 0 20px #D6552E, 0 0 60px #5a3023,
	  0 0 100px #5a3023, 0 0 160px #5a3023;	
}

h2{
	font-size: 30px;
	letter-spacing: -2px;
	color: #fff;
	text-shadow: 0 0 5px #D6552E, 0 0 10px #D6552E,
	  0 0 20px #D6552E, 0 0 60px #5a3023,
	  0 0 100px #5a3023, 0 0 160px #5a3023;}

.img{
	height: 400px;
	width: auto;
}
.buttonDetail {
	width: 200px;
	height: 50px;
	margin-bottom: 50px;
	cursor: pointer;
	background: #6dd6d1;
	border: none;
	border-radius: 10px;
	box-shadow: 0px 10px 25px #57aba7, 0px -10px 25px #a6fffa, inset 0px -5px 10px #57aba7, inset 0px 5px 10px #a6fffa;
	color: rgb(240, 229, 229);
	font-size: 30px;
	transition: 500ms;
}

.buttonDetail:hover {
		border: 2px solid #6dd6d1;
	animation: hueRotation 2s linear infinite;
}

@keyframes hueRotation {
	to {filter: hue-rotate(360deg);}
}

.buttonDetail:focus {
	outline: none;
}