  .container{
    background: url('https://i.pinimg.com/originals/ab/58/cc/ab58cc75dcb2e42555cf7e614216350a.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 2200px;
    width: 100%;
    display: grid;
    grid-template-areas: 
    'cabecera cabecera'
    'menu menu'
    'lateral contenido';
    grid-template-rows: 5% 5% auto;
    grid-template-columns: 20% auto;
  }

  .tituloHome{
  font-size: 40px;
  letter-spacing: -2px;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 178, 255, 1), 0 0 10px rgba(0, 178, 255, 1),
    0 0 20px rgba(0, 178, 255, 1), 0 0 40px rgba(38, 104, 127, 1),
    0 0 80px rgba(38, 104, 127, 1), 0 0 90px rgba(38, 104, 127, 1),
    0 0 100px rgba(38, 104, 127, 1), 0 0 140px rgba(38, 104, 127, 1),
    0 0 180px rgba(38, 104, 127, 1);
  }

  .buttonCarga {
    background-color: azure;
    color: rgb(8, 120, 168);
    border: 3px solid rgba(0, 178, 255, 1);
    width: 300px;
    height: 50px;
    margin-top:5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;    
  }  
  .buttonCarga:hover {
    color: white;
    background-color: rgba(0, 178, 255, 1);
  } 
  
  .label{
    color: rgb(8, 120, 168);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
    font-size: 18px;
  }

  select{
    background-color: azure;
    color: rgb(10, 67, 92);    
    border: 3px solid rgba(0, 178, 255, 1);
    width: 150px;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
  }
  .select:hover {
    color: white;
    background-color: rgba(0, 178, 255, 1);
  }  
  
  .cabecera{
    grid-area: cabecera;
    display: grid;
    grid-template-columns: auto auto;    
    text-align: center;
    align-items: center;
   
  }

  .menu{
    grid-area: menu;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    align-items: center;

  }

  .lateral{
    display: grid;
    padding-top: 50px;
    grid-area: lateral;

  }
  .contenido{
    grid-area:contenido;

  }
  .card{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
  }


