
.block {
	margin: 30px;
	width: 200px;
	height: 370px;
	padding: 15px;
	background: linear-gradient(1deg, rgba(0, 178, 255, 1), #ecf3f3);
	
	
}

.nombre{
	font-size: 40px;
	margin-top: 1px;
	letter-spacing: -2px;
	color: rgb(71, 114, 150);

}
