.buttonNumber {
  background-color: azure;
    color: rgb(8, 120, 168);
    border: 3px solid rgba(0, 178, 255, 1);
    width: 40px;
    height: 40px;
    margin: 40px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

.buttonNumber:hover {
  color: white;
    background-color: rgba(0, 178, 255, 1);
}

  